<p>login works!</p>
<div class="content-container">
    <form>
        <label for="email">Login</label><br>
        <input class="input-simples" id="email" name="email" type="email" 
        placeholder="Digite seu email" 
        (keyup)="validarFormulario"
        ([ngMode])="login"
        />
        <label for="input-senha">Senha</label><br>
        <input class="input-simples" id="input-senha" name="input-senha" type="password"
            placeholder="Digite sua senha" 
         (keyup)="validarFormulario"
        ([ngMode])="senha"
            />

        <button class="input-submeter" 
        [disabled]="botaoDesabilitado"
        (click)="fazerLogin()">
            Confirmar
        </button>
    </form>
</div>