<footer class="footer">
    <div class="footer-conteudo">
        <p class="footer-logo">Fintech CRUD</p>
        <div class="footer-categorias">
            <section>
                <h2>Institucional</h2>
                <a href="#sobre-nos">Sobre nós</a>
                <a href="#missao">Missão e valores</a>
                <a href="#seguranca">Segurança</a>
            </section>
            <section>
                <h2>Área do Cliente</h2>
                <a href="#conta">Crie sua conta</a>
                <a href="#login">Faça seu login</a>
                <a href="#cartoes">Gerencie seus cartões</a>
            </section>
            <section>
                <h2>Canais de Atendimento</h2>
                <a href="#fale-conosco">Fale conosco</a>
                <a href="#ouvidoria">Ouvidoria</a>
                <a href="#agencias">Agências</a>
            </section>
        </div>
    </div>
</footer>